@model DataLayer.Models.Directory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Directory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Html)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Html)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materials.Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materials.Count)
        </dd>

        @foreach (var item in Model.Materials)
        {
            //<tr>
                <dt class="col-sm-2">
                    @Html.DisplayFor(modelItem => item.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Html)
                </dd>
            //</tr>
        }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
